@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-container {
  max-width: 500px;
  margin: 100px auto;
  border: 1px solid #dddddd;
  padding: 30px;
}

.loading-container {
  text-align: center;
  margin-top: 300px;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  float: left;
}

.user-info {
  text-align: center;
  padding-top: 20px;
}

code {
  background-color: #fd79a8;
  color: #ffffff;
  padding: 2px;
  border-radius: 2px;
}

#tele_code {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

table ul {
  margin: 0;
  padding: 0;
}

.questionnaire-items {
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 20px;
  border: 1px dashed grey;
}

.questionnaire-option {
  display: block !important;
  height: 30px !important;
  line-height: 30px !important;
}

.dashboard-content {
  margin: 0 24px;
}
.dashboard-content .ant-table {
  overflow: scroll;
}
.logo-image {
  text-align: center;
  width: 100%;
}
.logo-image img {
  width: 150px;
  margin-bottom: 10px;
}
.login {
  padding-top: 15px;
  float: right;
  background-color: #001429;
}
.front-menu li {
  float: right;
}
.front-section .ant-card-body {
  display: inline-block;
  width: 100%;
}
.front-section .ant-card-body .front-img {
  display: inline-block;
  float: left;
  width: 30%;
}
.front-section .ant-card-body .front-desc {
  display: inline-block;
  float: right;
  width: 70%;
  padding: 0 20px;
}
.front-content {
  margin-top: 64px;
  padding: 0 50px;
}
@media screen and (max-width: 600px) {
  .logo {
    font-size: 12px;
  }
  .dashboard-layout {
    flex-direction: column !important;
  }
  .dashboard-content {
    margin: 0;
    margin-top: 30px;
  }
  .side-nav {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
  }
  .login {
    padding-left: 40px;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .front-content {
    margin-top: 150px;
    padding: 0;
  }
  .front-section .ant-card-body .front-img {
    float: none;
    width: 100%;
  }
  .front-section .ant-card-body .front-desc {
    float: none;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .front-menu span {
    margin-right: 0 !important;
  }
  .log-text {
    display: none;
  }
}